.modal-content {
  background-color: #fefefe;
  margin: 0% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#playlistNameInput{
  flex-grow: 1;
  padding: 1rem;
  border: 0.1rem solid #ccc;
  border-radius: 5px;
}
#saveNewPlaylist{
  background-color: #DA498D;
  color: white;
  padding: 2rem 3rem;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  position: absolute;
  top: 2rem; 
  left: 2rem; 
  margin-left: 0;
}

.modal #saveNewPlaylist:hover{
  background: #69247C;

}


@media (max-width: 1024px) {

  #saveNewPlaylist{
    background-color: #DA498D;
    color: white;
    padding: 2rem 3rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    position: relative;
    top: 0rem;
    left: 0rem;
  }
  
}
