body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F9E6CF;
  color: #333;
}

header {
  background-color: #69247C;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  overflow: hidden;
}

header a{
  padding: 10px 20px;
  background-color: #DA498D;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 1.5rem;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  animation: slideIn 0.5s ease-out 0.2s; 
  text-align: center;
}
.header .logo {
  font-size: 1.8em;
  font-weight: 700;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-img {
  width: 100px;
  height: auto;
  max-height: 100px;
}

.top-right-buttons{
  display: grid;
  gap: 1.2rem;
  grid-template-columns: repeat(3, 1fr);
  
}
.header nav.top-right-buttons a.button {
  background-color: #DA498D;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-left: 10px;
}

.header nav.top-right-buttons a.button.primary {
  background-color: #FAC67A;
  color: #333;
}

main.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 20px;
}

.hero .hero-content {
  max-width: 500px;
}

.hero .hero-content h1 {
  color: #69247C;
  font-size: 2.5em;
  margin-bottom: 20px;
}

.hero .hero-content p {
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 30px;
}

.hero .hero-content a.button.primary.large {
  font-size: 1.2em;
  padding: 15px 30px;
}

.hero .hero-image img {
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section.features {
  display: flex;
  justify-content: space-around;
  padding: 40px 20px;
  background-color: #fff;
}

.features .feature {
  text-align: center;
  max-width: 300px;
}

.features .feature img {
  width: 200px;
  margin-bottom: 20px;
}

section.testimonials {
  padding: 40px 20px;
  text-align: center;
}

.testimonials .testimonial {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
}

section.details {
  padding: 40px 20px;
  display: flex;
  justify-content: space-around;
  background-color: #f0f0f0;
}

.details .detail {
  text-align: center;
  max-width: 300px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #69247C;
  color: #fff;
}

@media (max-width: 768px) {
  .hero-image img{
    margin-top: 1.5rem;
    width: 20rem;
  }
  
  .top-right-buttons{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    
  }
  main.hero, section.features, section.details {
      flex-direction: column;
      align-items: center;
  }

  .hero .hero-content, .hero .hero-image, .features .feature, .details .detail {
      max-width: 100%;
  }
}